---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% if page.subtitle %}
    <h2 class"lead">{{ page.subtitle }}</h2>
    {% endif %}
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <iframe style="position: fixed; top: 10px; right: 10px;" src="https://github.com/sponsors/olleharstedt/button" title="Sponsor olleharstedt" height="32" width="114" style="border: 0; border-radius: 6px;">
  </iframe>

  <iframe src="https://github.com/sponsors/olleharstedt/card" title="Sponsor olleharstedt" height="225" width="600" style="border: 0;"></iframe>

</article>
